.idea
.venv
.cache
.env
.pytest_cache
.benchmarks
.coverage
*.py[cod]
*.log
.python-version
.mypy_cache
techniciancabinet.pem
docker-compose-dev.yml
.DS_Store

__data__/*
_project_/settings_local.py
_project_/static/bower_components
